{% extends 'base.html' %}

{% block title %}Add Vehicle Details{% endblock %}

{% block content %}

<form method="POST" action="/submit">
    <!-- Vehicle Information -->
    <label for="id" class="form-label">ID:</label>
    <input type="text" id="id" name="id" required><br>

     <label for="name" class="form-label">NAME:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="year">Year:</label>
    <input type="text" id="year" name="year" required><br>

    <label for="transmission">Type:</label>
    <select id="transmission" name="transmission" required>
        <option value="manual">Manual</option>
        <option value="automatic">Automatic</option>
    </select><br>

    <label for="condition">Condition:</label>
    <select id="condition" name="condition" required>
        <option value="new">New</option>
        <option value="used">Used</option>
    </select><br>

    <label for="ca">(CA):</label>
    <input type="text" id="ca" name="ca" required><br>

    <button type="submit">Submit</button>
</form>

{% endblock %}
